.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react {
  background-color: aqua;
  color: black;
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
}

/* .react2 {
  border: 12px solid rgb(238, 253, 215);
} */

// .react-2 > .box {
//   background: blue;
//   width: 100px;
//   height: 100px;
// }
// .react-2 > .box.red {
//   background: red;
//   width: 100px;
//   height: 100px;
// }

// .react-2 > .box.orange {
//   background: orange;
//   width: 100px;
//   height: 100px;
// }

$orange: #fd7e14;

.react-2 {
  .box {
    width: 100px;
    height: 100px;
    background: blue;
    @media screen and (max-width: 768px) {
      background: green;
    }
    &.orange {
      // background: orange;
      background: $orange;
    }
    &.red {
      background: red;
    }
    // & + .box {
    //   margin-top: 10px;
    //   &:hover {
    //     background: black;
    //   }
    // }
  }
}
//  &는 자기자긴
//
